body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-bg{
  /* background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://random.imagecdn.app/500/150'); */
  background-image: url("https://random.imagecdn.app/500/150");
  background-position: center;
  background-size: 100% 120px;
  /* / height: 600px; / */
  /* / width: 100%; / */
  /* / background-attachment: fixed; / */
  background-size: cover;
  color: white;
}